.background    { background: rgb(43, 58, 71);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(91, 78, 60); }
.wall          { background: rgb(196, 188, 153);   }

.actor  { position: absolute;  }
.coin   { background: rgb(234, 214, 124); }
.player { background: rgb(232, 232, 232); }
.portal { background: rgb(151, 178, 144); }
.speeds { background: (85, 102, 83); }


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(43, 43, 43);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
